<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathFile" value="d:\Logs\bitacora.log"/>
    <add key="PathImagenes" value="d:\Imagenes\"/>
    <add key="FormatterLog" value ="yyyyMMdd.log"/>
    <add key="Backend" value="SqlServer"/>
    <add key="IdiomaPath" value="I18n\idioma." />
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PP2023;Persist Security Info=True;User ID=pp2023;Password=qwerty"/>
    <add name="ServicesConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PPServices2023;Persist Security Info=True;User ID=ppservices2023;Password=qwerty"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>